version: '3.8'

services:
  auth-db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    volumes:
      - auth-db-data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  auth-service:
    build:
      context: .
      dockerfile: apps/auth/Dockerfile
    env_file:
      - .env
    depends_on:
      - auth-db
      - rabbitmq
    ports:
      - "3001:3001"

  api-gateway:
    build:
      context: .
      dockerfile: apps/api-gateway/Dockerfile
    env_file:
      - .env
    depends_on:
      - auth-service
      - rabbitmq
    ports:
      - "3000:3000"

volumes:
  auth-db-data: